<header class="menunav">
  <div class="inner">
    <h1 id="title">License Registry</h1>
    <nav class='navigation'>
      <ul>
        <%= link_to "Create Entry", new_license_url %>
        <%= link_to "Show All Licenses", root_url %>
      </ul>
    </nav>
  </div>
</header>

<div class="search-div">
  <h3>Search Driver's License by License Number or Scan</h3>
  <%= form_tag(licenses_url, :method => "get", id: "search-form") do %>
  <%= text_area_tag :search, params[:search], autofocus:'autofocus', class: 'form-control' %>
  <br><br>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="license-list">
  <h3>All Licenses in System</h3>
  <ul id="licenses">
    <% if @licenses != nil  %>
      <% @licenses.each do |license| %>
        <li>
          <%= link_to license.DCT + " " + license.DCS, license_url(license) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
